DATABASE_NAME=lms
DATABASE_USER=super
DATABASE_PASSWORD=super
DATABASE_HOST=localhost
DATABASE_PORT=5432

DEBUG=True


SECRET_KEY = 'django-insecure-b036f(lfgz+qm^bxg0sap%vlrfw)mcwv6w=2!#h21hz@u5$to8'